#include <dt-bindings/zmk/matrix_transform.h>

/ {
	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		label = "KSCAN";

		diode-direction = "col2row";

		row-gpios
			= <&nice_nano 13(GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&nice_nano 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&nice_nano 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&nice_nano 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&nice_nano 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			;

		col-gpios
			= <&nice_nano 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&nice_nano 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&nice_nano 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&nice_nano 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			;

	};
	&encoder_1 {
	status = "okay";
	}
	&encoder_2 {
	status = "okay";
};	
